<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="debug"><!--表示log4j2内部插件的log打印级别-->
    <properties>
        <property name="logPath">log</property><!--日志保存路径-->
        <property name="level">trace</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%X{username}  %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--当写入的日志文件大于10k时会把当前文件打包，新的日志会写入一个新的文件-->
        <RollingFile name="MyFileAppender" fileName="testProject.log" append="true" filepattern="${logPath}/testProject-%d{yyyy-MM-dd_HH}-%i.zip">
            <PatternLayout pattern="%X{username}  %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100k"/>  <!--基于大小新建日志文件，这里大小是100兆&ndash;&gt;-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/><!--基于时间触发打包日志文件，这里1是基于上面的时间配置，上面是小时，这里就是一小时打一次包-->
            </Policies>
            <DefaultRolloverStrategy max="20"/><!--在定义的时间段内创建的日志文件的个数最多为20个，这里一小时最多创建20个-->
        </RollingFile>

        <File name="app_info" fileName="${logPath}/app/info.log" append="false"><!--append="false" 表示在日志文件中覆盖之前所写的，等于true表示在之前缩写文件之后写-->
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/><!--拒绝warn及以上级别-->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/><!--剩下的只接受info及以上级别-->
            </Filters>

            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
        </File>
        <File name="app_debug" fileName="${logPath}/app/debug.log" append="false">
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/><!--拒绝info及以上级别-->
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/><!--剩下的都接收-->
            </Filters>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
        </File>
        <File name="app_error" fileName="${logPath}/app/error.log" append="false">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/><!--warn及以上级别都接收-->
            </Filters>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
        </File>
       <!-- <appender name="asyncout" class="org.apache.log4j.AsyncAppender">
            <param name="BufferSize" value="512" />
            <appender-ref ref="app_debug" />
        </appender>--><!--这种配异步的方式不可行-->
    </Appenders>
    <Loggers>
        <!--includeLocation表示提取日志位置，对性能影响比较大，默认是false-->
        <!--同步和异步一起使用-->
        <AsyncLogger name="com.log4j2.test" level="trace" includeLocation="false">
            <appender-ref ref="app_debug"/>
        </AsyncLogger>
        <!--<asyncRoot  level="trace" includeLocation="false">
            <appender-ref ref="app_debug" />
        </asyncRoot>-->
        <Root level="${level}"><!--只输入界别高于trace的日志信息-->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFileAppender"/>
            <appender-ref ref="app_debug"/>
            <appender-ref ref="app_info"/>
            <appender-ref ref="app_error"/>
           <!-- <AppenderRef ref="asyncout"/>-->
        </Root>
    </Loggers>
</Configuration>